<html>
    <head>
        <title>About page</title>
        <link rel="stylesheet" href="/css/about-style1.css">
        <link rel = "icon" href =  "/images/logo.png" type = "image/x-icon">
    </head>
    <body>
        {{>header_index}}    
        <div class="container">
            <div class="post-box">
                <div class="rule-header">How?</div>
                <ul>
                    <li>Once you have created your account and logged in, you will be directed to your feed, where
                        you will be shown posts from other users. You too can create a post with your account.
                    </li>
                    <li>You can 'approve' or 'disapprove' a post. Only those posts make it to your feed which
                        you have yet to approve or disapprove. This is done to make your feed fresh.
                    </li>
                    <li>Also, once you have approved or disapproved a post, you can't change your opinion about
                        the post again. So make sure you have your choices set in place.
                    </li>
                    <li>
                        You can view your account by clicking on 'Account' tab on your page. Here you will have
                        all your posts. You can also view accounts of others by searching for them by their
                        usernames on your page.
                    </li> 
                </ul>
                <div class="rule-header">Why?</div>
                <ul>
                    <li>This website was created for people who need a platform to openly express 
                        themselves. So feel free to express yourselves here. With a vibrant community, this
                        would also become a great resource to share genuine academic advices,reading materials,
                        and many more.
                    </li>
                    <li>Feel free to express genuine concerns, help those seeking advice and strive to make
                         this a better community to dwell!
                    </li>
                </ul>
            </div>
            <div class="access-box">
                <div id="access-head">Community guidelines</div>
                <div id="access-body">
                    <ul>
                    <li>Please create accounts with your genuine first and last names in order for people to
                        correctly reference your posts
                    </li>
                    <li>Keep the posts respectful towards other users</li>
                    <li>In case you want to direct a post towards a paritcular post/user, make sure you 
                        have correctly referenced it to avoid confusion among others
                    </li>
                    </ul>
                </div> 
            </div>
        </div>
        <script src="/js/accountapp.js"></script>
    </body>
</html>