<html>
    <head>
        <title>Error</title>
        <link rel = "icon" href =  "/images/logo.png" type = "image/x-icon">
        <link rel="stylesheet" href="/css/error-style1.css">
    </head>
    <body>
        {{>header_index}}
        <div id="container">
            <div class="field">Route not valid :(</div>
            <div class="field">Click <a href="/">here</a> to get to home page.</div>
        </div>
    </body>
</html>