@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');


body {
	background: #008ECC;
	background-repeat: no-repeat;
	align-items: center;
	font-family: 'Montserrat', sans-serif;
    height: 100vh;
    margin: 0;
    color:white;
}
.header{
    background-color: #008ECC;
    text-align: left;
    padding-top:5px;
    padding-left: 20px;
    flex-grow: 8;
    font-size:24px;
}
h1 {
    font-weight: bold;
	margin: 0;
}
.container{
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.post-box{
    order: 1;
    width:60%;
    height:100vh;
    margin-left:auto;
    padding:10px;
    padding-top:20px;
    background-color: #008ECC;
}
.rule-header{
    font-size:30px;
    font-weight: bold;
}
li{
    padding:10px;
    font-size: 22px;
}
.access-box{
    order:2;
    width:30%;
    background-color: lightgray;
    color:#646464;
}

#access-head{
    padding:10px;
    text-align: center;
    font-weight: 600;
    font-size:25px;
}
#access-body{
    margin:10px;
    background-color: #e7e7e7;
    border-radius:5px;
    padding:10px;
}
#access-body li{
    padding:5px;
    font-size: 20px;
}


